.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: #e6e9ff;
	color: #667aff;
	border: 0;
	font-size: 17px;
}


.czat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.czat-header {
	background: #667aff;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.czat-messages {
	padding: 30px;
	height: 500px;
	overflow-y: scroll;
}

.czat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #e6e9ff;
	border-radius: 5px;
}
.message-you{
	padding: 10px;
	margin-bottom: 15px;
	background-color: lightblue;
	border-radius: 5px;
}
.text 
{
	text-align: right;
}


.czat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #7386ff;
	opacity: 0.7;
	margin-bottom: 7px;
}

.czat-messages .message .meta span {
	color: #777;
}

.czat-form-container {
	padding: 20px 30px;
	background-color: #667aff;
}

.czat-form-container form {
	display: flex;
}

.czat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}
