<div class="czat-container">
    <header class="czat-header">
      <a routerLink="/Zadzwon" class="btn"><i class="fas fa-phone"></i >Zadzwon</a>
      <a href="index.html" class="btn">Wyjdź</a>      
    </header>
    <div class="czat-messages">
    </div>
    <div class="czat-form-container">
      <form >
        <input [(ngModel)]="wiad" name="wiad" type="text" placeholder="Wpisz wiadomość" required autocomplete="off" />
        <button (click)="sendMess()"  class="btn"><i class="fas fa-angle-right"></i> Wyślij</button>
      </form>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
    integrity="sha256-ijqLssetA1NMNjZ+w1zaUafQQLm4IW5OoM8O+4tatME=" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
