<div class="container">
    <main class="main">
        <form>
            <label>Nazwa uzytkowika</label>
            <input [(ngModel)]="nazwa" (keyup)="onKey($event)" type="text" name="uzytkownik" id="username"
                placeholder="Wprowadź nazwe uzytkonika" />
            <div *ngIf="condition">
                <a routerLink="/Czat" [queryParams]='{user: nazwa}'>
                    <button type="submit" class="btn">Dołącz</button>
                </a>
            </div>
            <div *ngIf="!condition">
                <p>
                    Podaj nazwe uzytkownika przed przejsciem dalej
                </p>
            </div>


        </form>
    </main>
</div>