


.container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}


.main {
	padding: 30px 40px;
	background:#7386ff;

	margin-bottom: 20px;
}

.main p {
	margin-bottom: 20px;
}


.main label {
	display: block;
	margin-bottom: 5px;
}

.main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}


.main .btn {
	margin-top: 20px;
	width: 100%;
}
.not-active { 
	pointer-events: none; 
	cursor: default; 
} 