@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #e6e9ff;
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: #e6e9ff;
	color: #667aff;
	border: 0;
	font-size: 17px;
}


.czat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.czat-header {
	background: #667aff;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.czat-messages {
	padding: 30px;
	height: 500px;
	overflow-y: scroll;
}

.czat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #e6e9ff;
	border-radius: 5px;
}
.message-you{
	padding: 10px;
	margin-bottom: 15px;
	background-color: lightblue;
	border-radius: 5px;
}
.text 
{
	text-align: right;
}


.czat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #7386ff;
	opacity: 0.7;
	margin-bottom: 7px;
}

.czat-messages .message .meta span {
	color: #777;
}

.czat-form-container {
	padding: 20px 30px;
	background-color: #667aff;
}

.czat-form-container form {
	display: flex;
}

.czat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}
.container-zadzwon{
	max-width: 500px;
	margin: 80px auto;
	color: #000;
}


.main {
	padding: 30px 40px;
	background:#7386ff;

	margin-bottom: 20px;
}

.main p {
	margin-bottom: 20px;
}


.main label {
	display: block;
	margin-bottom: 5px;
}

.main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}


.main .btn {
	margin-top: 20px;
	width: 100%;
}


